.header
{
  background-color: #7b3131;
}
.form-control
{
  border: 1px solid #af3b3b;
  
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:black;
  opacity: 1; /* Firefox */
}
.btn
{
  background-color: white;
  color: #af3b3b;
  font-size: 1.2rem;
  border-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -18px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
