
.main_div
{
  background-color: #b7b7b7;
}
.col-sm-5
{
  height: 600px;
  margin-bottom: 10px;
  background-color:  #614d35;
  margin-top: 20px;
}
.header
{
  background-color: #7b3131;
}
.sub-header
{
  border-radius: 20px;
}
.list-group
{
  padding: 0px;
}
.list-group-item
{
  border: none;
}
.group-item-second
{
  background-color: #a79e9e;
}
.list-item
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 10px;
  padding-right: 20px;
}
.list-second
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a79e9e;
  margin: 10px;
  padding-right: 20px;
}

.form-control
{
  border: 1px solid #af3b3b;
  
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:black;
  opacity: 1; /* Firefox */
}
.btn
{
  background-color: white;
  color: #af3b3b;
  font-size: 1.2rem;
  border-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.img-hover:hover
{
  cursor: pointer;
}
